/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/* Footer Container */
.footer-container {
    background-color: #ffffff;
    padding: 20px;
}

/* Footer Main */
.footer-main {
    
    flex-direction: column;
    align-items: center;
	text-align: center;

    margin-bottom: 20px;
}
.footer-logo{
	align-items: center;

}
.footer-logo img {
    max-width: 100px;
    height: auto;
}

.footer-text {
    margin-top: 10px;
    color: #888;
}

/* Footer Links */
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%;
    gap: 20px;
}

/* Link Section */
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-basis: 30%;
    min-width: 220px;
}

.section-title {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.link-item {
    margin-bottom: 10px;
}

.link-item a {
    color: #555;
    font-size: 14px;
    display: block;
    transition: color 0.3s ease;
}

.link-item a:hover {
    color: #ff5a5f;
}

/* Payment Methods */
.payment-methods-list {
    /* display: flex; */
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center; /* Center the payment icons */
    margin-top: 20px; /* Add spacing between sections */
}

.payment-icon {
    width: 50px;
    height: 30px;
    object-fit: contain;
}

/* Social Links */
.social-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-basis: 100%;
    margin-top: 20px;
}

.social-links img {
    width: 25px;
    height: 25px;
    transition: transform 0.3s ease;
}

.social-links img:hover {
    transform: scale(1.2);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .footer-container {
        padding: 20px 10px;
    }

    .footer-main {
        flex-basis: 100%;
        align-items: center;
    }

    .footer-links {
        justify-content: center;
    }

    .footer-links ul {
        flex-basis: 40%;
    }

    .payment-methods-list {
        justify-content: center;
        gap: 20px;
    }

    .social-links {
        gap: 20px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 15px 5px;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links ul {
        flex-basis: 100%;
        text-align: center;
    }

    .payment-methods-list {
        justify-content: center;
        gap: 10px;
    }

    .social-links {
        gap: 15px;
        justify-content: center;
    }
}
